@import "src/sass/global";

section#about {
    background-color: color("brand", "light");

    > .content {
        > .block {
            min-height: inherit;

            &.grid {
                grid-template-columns: 1fr;
                grid-template-areas: "text" "media";
                justify-items: center;
                align-items: center;
    
                @include md {
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "text media";
                }
    
                .cell {
                    &.text {
                        grid-area: text;
                        text-align: center;
    
                        @include md {
                            text-align: left;
                        }

                        .title {
                            font-size: 35px;
                        }

                        .greeting {
                            margin-top: 15px;
                            margin-bottom: 5px;
                            font-size: 18px;
                        }
                    }
    
                    &.media {
                        grid-area: media;
                        text-align: center;
    
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    // .content {
    //     height: 100%;
    //     //display: flex;
    //     //flex-direction: row;
    //     //align-items: center;

    //     @include lg {
    //         flex-direction: row;
    //     }

    //     .left {
    //         flex: 0.6;
    //         overflow: hidden;

    //         .about-container {
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: center;
    //             align-items: center;
    //             text-align: center;

    //             @include lg {
    //                 align-items: flex-start;
    //                 text-align: left;
    //             }

    //             p {
    //                 font-weight: 300;
                    
    //                 &.name {
    //                     font-size: 40px;
    //                 }

    //                 &.role {
    //                     font-size: 27px;
    //                 }

    //                 &.description {
    //                     margin-top: 10px;
    //                 }

    //                 .bold {
    //                     font-weight: 500;
    //                 }

    //                 .colored {
    //                     color: color("brand", "base");
    //                 }

    //                 .highlighted {
    //                     background-color: color("brand", "dark");
    //                     color: color("brand", "light");
    //                 }
    //             }
    //         }
    //     }

    //     .right {
    //         flex: 0.6;
    //         overflow: hidden;
            
    //         .image-container {
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: center;
    //             align-items: center;
    //             height: 100%;
    //             overflow: hidden;

    //             @include lg {
    //                 align-items: flex-end;
    //             }
                
    //             img {
    //                 width: 80%;

    //                 @include lg {
    //                     // height: 60%;
    //                 }
    //             }
    //         }
    //     }
    // }
}